
[*]

# ReSharper properties
resharper_csharp_max_line_length = 180
resharper_place_expr_method_on_single_line = false
resharper_place_expr_property_on_single_line = true
resharper_place_simple_embedded_statement_on_same_line = true
resharper_wrap_before_arrow_with_expressions = true
